@value makerLightBlack, makerWhite, makerBlackPurple, makerDarkPurple, makerPurple, makerPink, makerLightGrey from '../../shared/colors.css';
@value tabletWidth from '../../shared/size.css';

.skills {
  background: makerLightBlack;
}

.skillset {
  display: flex;
}

.skillset__left {
  width: 50%;
  padding: 1.5em;
  background: makerDarkPurple;
  border-radius: 10px;
}

.skillset__right {
  width: 50%;
}

.skillset__left h2,
.skillset__right h2 {
  color: makerWhite;
  margin-top: 0;
}

.skillset__backend {
  width: 100%;
  height: 60%;
  padding: 1.5em;
  background: makerBlackPurple;
  border-radius: 10px;
}

.skillset__infra {
  width: 100%;
  height: 40%;
  padding: 1.5em;
  background: #4F379C66;
  border-radius: 10px;
}

/* tablet CSS */
@media only screen and (max-width: tabletWidth) {
  .skillset {
    flex-direction: column;

  }
  .skillset__left, .skillset__right {
    width: 100%;
  }

  .skillset__left h2,
  .skillset__right h2 {
    font-size: 1.2rem;
  }
}