@value makerWhite, makerDarkPurple, makerPurple, makerPink, makerLightGrey from '../../shared/colors.css';
@value mediaQuery from '../../shared/size.css';

#skills {
  background: darkblue;
}

.container {
  width: 100%;
  max-width: mediaQuery;
  margin: auto;
}

.skillset {
  display: flex;
}

.skillset__left {
  width: 50%;
  padding: 1.5em;
  background: makerDarkPurple;
  border-radius: 10px;
}

.skillset__right {
  width: 50%;
}

.skillset__left h2,
.skillset__right h2 {
  color: makerWhite;
  margin-top: 0;
}

.skillset__backend {
  width: 100%;
  height: 60%;
  padding: 1.5em;
  background: #4F379CAA;
  border-radius: 10px;
}

.skillset__infra {
  width: 100%;
  height: 40%;
  padding: 1.5em;
  background: #4F379C66;
  border-radius: 10px;
}