@value makerWhite, makerDarkBlack, makerPink, makerLightGrey from '../../shared/colors.css';
@value mediumFont from '../../shared/size.css';

.note {
  background-color: makerDarkBlack;
}

.tab_menu {
  display: flex;
  align-items: center;
  border-top: 1px solid makerLightGrey;
  border-bottom: 1px solid makerLightGrey;
}

.tab_item {
  color: makerWhite;
  padding: 0.25em 1em;
  margin: 0.4em 0.5em;
  border: 1px solid transparent;
}

.tab_item.active,
.tab_item:hover {
  border: 1px solid makerPink;
  border-radius: 3px;
  cursor: pointer;
}

.contents {
  display: flex;
  border-bottom: 1px solid makerLightGrey;
  padding: 0.8rem 0.5rem;
}

.contents_img {
  position: relative;
}

.link {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
}

.notion {
  width: 1.3em;
  height: 1.3em;
}

.notion + p {
  color: makerWhite;
  padding: 2px 4px;
  margin: 0;
}

.notion + p:hover {
  color: makerDarkBlack;
  text-decoration: underline;
}

.main_img {
  width: 31em;
}

.contents_img_list {
  margin-left: 1em;
  height: 300px;
  overflow: auto;
}
.contents_img_list img {
  padding: 0.2em;
  width: 9em;
}

.contents_img_list img:hover {
  cursor: pointer;
  transform: scale(1.04);
  transition: transform 200ms ease-in;
}