@value makerWhite, makerGrey, makerYellow, makerDarkPurple, makerPurple, makerPink, makerLightGrey from '../../common/colors.css';
@value titleFont from '../../common/size.css';

.title {
  color: makerWhite;
  font-size: titleFont;
  text-align: right;
  margin-bottom: 0;
}

.title__desc {
  text-align: right;
  color: makerLightGrey;
  margin-bottom: 3rem;
}

.skillset {
  display: flex;
}

.skillset__left {
  width: 50%;
  border: 1.5px solid makerPink;
  padding: 1.5em;
}
.skillset__right {
  width: 50%;
}

.skillset__left h2,
.skillset__right h2 {
  color: makerWhite;
  margin-top: 0;
}

.skillset__backend {
  border: 1.5px solid makerPurple;
  border-left: none;
  width: 100%;
  height: 60%;
  padding: 1.5em;
}

.skillset__infra {
  border-bottom: 1.5px solid makerDarkPurple;
  border-right: 1.5px solid makerDarkPurple;
  width: 100%;
  height: 40%;
  padding: 1.5em;
}

.skill {
  margin-top: 0.8em;
}

.skill__title {
  color: makerWhite;
  margin: 0;
}

.skill__desc {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.skill__bar {
  width: 90%;
  height: 0.25em;
  position: relative;
  background: makerGrey;
  margin-right: 1em;
}

.skill__value {
  position: absolute;
  width: 80%; /* 자바스크립트로 변경예정 */
  height: 0.25em;
  background: makerYellow;
}

.skill__desc span {
  color: makerWhite;
  width: 10%;
  align-self: baseline;
  flex-basis: content;
}