@value makerWhite, makerPinkHover, makerPurple, makerPink, makerYellow, makerDarkBlack, makerGray from '../shared/colors.css';
@value tabletWidth, mediaQuery, largeFont, mediumFont, smallFont from '../shared/size.css';

#navbar {
  position: fixed;
  background: makerDarkBlack;
  width: 100%;
  z-index: 1;
}

#navbar.dark {
  background: #2A3448;
}

.section {
  width: 100%;
  max-width: 62rem;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
}

.logo {
  color: makerPurple;
  font-size: largeFont;
  line-height: 1.2rem;
}

.name {
  text-decoration: none;
  font-size: largeFont;
  font-weight: bold;
}

#firstName {
  color: makerPink;
  margin-left: 0.3em;
}

#secondName {
  color: makerYellow;
}

.menu {
  display: flex;
  padding-left: 0;
  margin: 0;
}

.menu_item {
  color: makerWhite;
  font-size: mediumFont;
  width: 100%;
  margin: 0 0.2em;
  padding: 0.4em;
  border: 1px solid transparent;
  text-align: center;
}

.menu_item:hover {
  background: makerPinkHover;
  border: 1px solid makerPink;
  border-radius: 3px;
  cursor: pointer;
}

.active {
  border: 1px solid makerPink;
  border-radius: 3px;
}

.button {
  display: none;
  position: absolute;
  top: 27px;
  right: 20px;
  color: makerWhite;
  background: transparent;
  font-size: mediumFont;
}

@media only screen and (max-width: tabletWidth) {
  .logo, .name {
    font-size: 1.5rem;
    padding-left: 0;
  }

  .section {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  
  .menu {
    display: none;
  }

  .button {
    display: block;
  }

  .menu.open {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 1rem 0;
  }
  
  .menu_item {
    font-size: 1rem;
  }
}