@value makerLightGrey from '../../shared/colors.css';
@value mobileWidth from '../../shared/size.css';

.arrow {
  display: none;
  background: transparent;
  position: fixed;
  right: 3rem;
  bottom: 2rem;
  z-index: 2;
}

.arrow__icon {
  color: makerLightGrey;
  font-size: 3rem;
}

@media screen and (max-width: mobileWidth) {
  .arrow {
    right: 0.5rem;
    bottom: 0.8rem;
  }

  .arrow__icon {
    font-size: 2.3rem;
  }
}