@value makerLightBlack from '../../common/colors.css';

.custom_shape_divider_top_1638516468 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom_shape_divider_top_1638516468 svg {
  position: relative;
  display: block;
  width: calc(154% + 1.3px);
  height: 177px;
}

.custom_shape_divider_top_1638516468 .shape_fill {
  fill: makerLightBlack;
}