@value makerWhite, makerLightGrey from '../../../shared/colors.css';
@value titleFont from '../../../shared/size.css';

.title {
  color: makerWhite;
  font-size: titleFont;
  margin-bottom: 0;
}

.description {
  color: makerLightGrey;
  margin-bottom: 2rem;
}

.right {
  text-align: right;
  margin-right: 1em;
}

.left {
  text-align: left;
  margin-left: 1em;
}