@value makerWhite, makerLightGrey from '../../../shared/colors.css';
@value titleFont from '../../../shared/size.css';

.title {
  color: makerWhite;
  font-size: titleFont;
  margin-bottom: 0;
  padding-top: 8rem;
}

.description {
  color: makerLightGrey;
  margin-bottom: 2rem;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

@media only screen and (max-width: tabletWidth) {
  .title {
    font-size: 2.2rem;
  }
}