@value makerWhite from '../../shared/colors.css';
@value mediaQuery from '../../shared/size.css';

#testimonials {
  background: grey;
}

.container {
  width: 100%;
  max-width: mediaQuery;
  margin: auto;
}

.testimonialset {
  display: flex;
  flex-direction: column;
}