@value makerWhite, makerBlack, makerPurple from '../../shared/colors.css';
@value tabletWidth from '../../shared/size.css';

.testimonial {
  display: flex;
  align-items: center;
  margin-bottom: 1.5em;
  padding: 1.5em 0;
  border-radius: 8px;
}

.img {
  border-radius: 50%;
  width: 9em;
  margin: 0 1rem;
}

.contents {
  color: makerWhite;
  margin-left: 1em;
}

.tag {
  display: flex;
  align-items: center;
}

.logo {
  height: 25px;
}

.text {
  line-height: 1.5rem;
  letter-spacing: 0.06rem;
  text-align: justify;
}

.name {
  margin-left: 1em;
  letter-spacing: 0.3em;
}

.part {
  margin-left: 0.5em;
  letter-spacing: 0.1em;
}

.right {
  order: 1;
}

@media only screen and (max-width: tabletWidth) {
  .testimonial {
    flex-direction: column;
  }

  .img {
    margin-bottom: 2rem;
  }

  .contents {
    order: 1;
  }

  .tag {
    justify-content: center;
  }

  .text {
    margin-bottom: 2rem;
  }
}