@value makerWhite from '../../shared/colors.css';
@value mediaQuery, sectionMargin from '../../shared/size.css';

#testimonials {
  position: relative;
}

.testimonials {
  display: flex;
  flex-direction: column;
}

.section {
  width: 100%;
  max-width: mediaQuery;
  margin: sectionMargin;
}