@value makerWhite, makerLightGrey, makerBlack, makerPurple, makerPink from '../../shared/colors.css';
@value mediumFont, tabletWidth, mobileWidth from '../../shared/size.css';

.intro {
  display: flex;
  justify-content: space-between;
  padding-top: 8rem;
}

.contents {
  flex-direction: column;
}

.span {
  color: makerLightGrey;
  font-size: mediumFont;
  font-style: italic;
}

.title {
  color: makerPurple;
  font-size: 3.5rem;
  margin: 0.2em 0;
}

.button {
  color: makerWhite;
  border-radius: 3px;
  padding: 0.6em;
  background: makerPink;
  font-size: 1rem;
}

.img {
  width: 13.5em;
  height: 18em;
  float: right;
  opacity: 0.8;
  margin-left: 2rem;
}


@media only screen and (max-width: tabletWidth) {
  .title {
    font-size: 2.8rem;
  }
}

@media only screen and (max-width: mobileWidth) {
  .title {
    font-size: 2.5rem;
  }

  .intro {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  
  .img {
    width: 10em;
    height: 13em;
    margin-left: 0;
    margin-bottom: 2rem;
  }

  .contents {
    text-align: center;
  }

  .title {
    margin: 0.5em 0;
  }
}