@value makerLightBlack, makerDarkBlack, makerWhite, makerLightGrey, makerYellow, makerPurple from '../../shared/colors.css';
@value smallFont from '../../shared/size.css';

.about {
  background: makerLightBlack;
}

.items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#frontend {
  width: 10em;
  height: 10em;
}

#infra {
  width: 7em;
  height:7em;
}

#backend {
  width: 8em;
  height:8em;
}

#design {
  width: 9em;
  height: 9em;
}

.item:nth-child(even) .subject {
  background: makerPurple;
}

.item:nth-child(odd) .subject {
  background: makerYellow;
}

.subject {  
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 7em;
  padding: 2.8em 0;
  color: makerDarkBlack;
  font-size: 1.5rem;
  font-weight: bold;
}

.subject:hover {
  font-style: italic;
  transform: scale(1.03);
  transition: all 300ms ease-in;
}

.description {
  color: makerWhite;
  text-align: center;
  width: 8em;
  margin: auto;
  margin-top: 1em;
}

.career {
  margin-top: 4rem;
}