@value makerLightBlack, makerDarkBlack, makerWhite, makerLightGrey, makerYellow, makerPurple from '../../shared/colors.css';
@value smallFont, tabletWidth, mobileWidth from '../../shared/size.css';

.about {
  background: makerLightBlack;
}

.items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#frontend {
  width: 10em;
  height: 10em;
}

#infra {
  width: 7em;
  height:7em;
}

#backend {
  width: 8em;
  height:8em;
}

#design {
  width: 9em;
  height: 9em;
}

.item:nth-child(even) .subject {
  background: makerPurple;
}

.item:nth-child(odd) .subject {
  background: makerYellow;
}

.item:nth-child(-n+3) {
  margin-right:30px;
}

.subject {  
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 7em;
  padding: 2.8em 0;
  color: makerDarkBlack;
  font-size: 1.5rem;
  font-weight: bold;
}

.subject:hover {
  font-style: italic;
  transform: scale(1.03);
  transition: all 300ms ease-in;
}

.description {
  color: makerWhite;
  text-align: center;
  width: 8em;
  margin: auto;
  margin-top: 1em;
}

.career {
  margin-top: 4rem;
}

/* tablet CSS */
@media only screen and (max-width: tabletWidth) {
  .items {
    flex-wrap: wrap;
    justify-content: center;
  }

  .item {
    margin-bottom: 2rem;
  }

  .item:first-child {
    margin-right: 3rem;
  }

  .item:nth-child(3) {
    margin-left: 1rem;
    margin-right: 3.5rem;
  }

  .career {
    margin-top: 1rem;
  }
}

/* mobile CSS */
@media only screen and (max-width: mobileWidth) {
  .items {
    flex-direction: column;
  }

  .item:nth-child(-n+3) {
    margin: 0 0 2.5rem 0;
  }
}
