@value makerWhite, makerBlack, makerYellow, makerLightGrey, makerPurple from '../../common/colors.css';

.project {
  color: makerWhite;
  border-radius: 10px;
  padding: 1em;
  margin-right: 1.5em;
}

.project.yellow:hover {
  transform: scale(1.1);
  transition: all 300ms ease-in;
  cursor: pointer;
  background: makerYellow;
  color: makerBlack;
}

.project.purple:hover {
  transform: scale(1.1);
  transition: all 300ms ease-in;
  cursor: pointer;
  background: makerPurple;
  color: makerBlack;
}

.project img {
  width: 11em;
  height: 8em;
}

.project h3 {
  margin: 0;
  margin-top: 0.5em;
}

.project hr {
  border: 0.5px solid makerLightGrey;
}

.project p {
  width: 11em;
  overflow-wrap: break-word;
  margin: 0;
}

.yellow {
  border: 2px solid makerYellow;
}

.purple {
  border: 2px solid makerPurple;
}