@value makerWhite, makerGrey, makerPink from '../../common/colors.css';
@value mediaQuery, sectionMargin from '../../common/size.css';

#work {
  position: relative;
}

.section {
  width: 100%;
  max-width: mediaQuery;
  margin: sectionMargin;
}

.container {
  display: flex;
}

.categories {
  display: flex;
  flex-direction: column;
  flex: 0.15;
  padding: 1em 1.5em 1em 0;
}

.category {
  color: makerWhite;
  margin: 0.2em 0;
  padding: 0.3em 0.5em;
  text-align: center;
  border: 1px solid transparent;
}

.category.active,
.category:hover {
  border: 1px solid makerPink;
  border-radius: 3px;
  cursor: pointer;
  font-weight: bold;
}

.projects {
  padding: 1.5em;
  display: flex;
  overflow-x: auto;
  flex: 0.85;
}