@value makerWhite, makerBlack, makerYellow, makerLightGrey, makerPurple from '../../shared/colors.css';
@value tabletWidth, mobileWidth from '../../shared/size.css';

.project {
  color: makerWhite;
  border-radius: 10px;
  padding: 1em;
  margin-right: 1.5em;
  flex-shrink: 1;
  justify-content: space-evenly
}

.project:hover {
  transform: scale(1.05);
  transition: all 300ms ease-in;
  cursor: pointer;
  color: makerBlack;
}

.project.yellow:hover {
  background: makerYellow;
}

.project.purple:hover {
  background: makerPurple;
}

.project img {
  width: 100%;
  height: 8em;
}

.project h3 {
  margin: 0;
  margin-top: 0.5em;
}

.project hr {
  border: 0.5px solid makerLightGrey;
}

.project p {
  width: 11em;
  overflow-wrap: break-word;
  margin: 0;
}

.yellow {
  border: 2px solid makerYellow;
}

.purple {
  border: 2px solid makerPurple;
}

/* tablet CSS */
@media only screen and (max-width: tabletWidth) {
  .project {
    margin-right: 0;
    margin: 1em;
  }
}

/* mobile CSS */
@media only screen and (max-width: mobileWidth) {
  .project {
    flex: 1;
  }
}