@value makerDarkBlack from '../../shared/colors.css';
@value tabletWidth from '../../shared/size.css';

.work {
  background: makerDarkBlack;
}

.workset {
  display: flex;
}

.projects {
  padding: 1em 0;
  display: flex;
  overflow-x: auto;
}

/* tablet CSS */
@media only screen and (max-width: tabletWidth) {
  .workset {
    flex-direction: column;
  }

  .projects {
    overflow-x: none;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}