@value makerPinkHover, makerDarkBlack, makerWhite, makerGrey, makerPink from '../../shared/colors.css';
@value mediaQuery, tabletWidth from '../../shared/size.css';

.work {
  background: makerDarkBlack;
}

.workset {
  display: flex;
}

.categories {
  display: flex;
  flex-direction: column;
  flex: 0.15;
  padding: 1em 1.5em 1em 0;
}

.category {
  color: makerWhite;
  margin: 0.2em 0;
  padding: 0.3em 0.5em;
  text-align: center;
  border: 1px solid transparent;
  font-size: 1.2rem;
  cursor: pointer;
}

.active {
  border: 1px solid makerPink;
  border-radius: 3px;
}

.category:hover {
  border: 1px solid makerPink;
  border-radius: 3px;
  background: makerPinkHover;
}

.projects {
  padding: 1em;
  display: flex;
  overflow-x: auto;
  flex: 0.85;
}

/* tablet CSS */
@media only screen and (max-width: tabletWidth) {
  .workset {
    flex-direction: column;
  }

  .categories {
    padding: 0;
  }
}